@{
    ViewBag.Title = "Contact";
}
<!-- <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3> -->



<h3>

    <strong>Need Help? Please e-mail the </strong>   <a href="mailto:Erick.Merner@dfo-mpo.gc.ca?cc=rose.zhou@dfo-mpo.gc.ca">Support Team</a><br />

</h3>